{
margin: 0;
padding:"0;
}
body{
background-image: url(gymbg.jpg);
background-size:100% 700px;
background-repeat:no-repeat;
}

h1{
text-align: center;
padding:5px;
}
h2{
text-align: Center;
padding:5px;
}
.register{
background:lightgreen;
width:600px;
margin:0px 0px 0px 370px;
color:black;
font size:18px;
padding:20px;
border-radius:10px;
border:1px;
}
input{
    margin: .2rem 0;
}

.note {
    font-size: .8em;
}

.input
{
    margin:.4rem 0;
}



#register
{
margin:20px;
}
label{
color:black;
font-family:sans-serif;
font-size:18px;
font-style:normal;
}
.name{
width:300px;
height:30px;
border:outline;
border-radius:5px;
padding:7px;
}
